{% extends 'homepage/base.html' %}

{% load static %}

{% block title %}
    Artbook
{% endblock %}

{% block css_addition %}
    <link rel="stylesheet" href="{% static 'homepage/css/homepage.css' %}">
{% endblock css_addition %}

{% block content %}
<form action="{% url 'search_post' %}" method="get">
    {% for f in form %}
        <p>{{ f }} <button type="submit">Search</button></p>
    {% endfor %}
</form>

<main class="section">
    {% for post in preview_image %}
    <div class="posts">
        <a href="{{ post.get_absolute_url }}">
            <img class="project__img" src="{{ post.preview.url }}" alt="connecting" >
        </a>
    </div>
    {% endfor %}
</main>
{% endblock %}
